.side-panel {
  height: 100vh;
  background-color: rgb(30 38 41);
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: none;
  min-width: 400px;

  &__title {
    margin-bottom: 16px;
  }

  &__textures {
    padding-top: 32px;
    margin-bottom: 16px;
  }

  &__emitter-config {
    margin-bottom: 16px;
  }

  &__bloom-filter-config {
    padding-bottom: 32px;
  }
}
