.display-shape {
  display: flex;
  align-items: center;

  &__title {
    color: var(--primary-text-color);
    margin-right: var(--gap);
  }
}

.spawn-shape-behavior {
  margin-bottom: var(--gap2x);
}
