.behavior-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap2x);
  width: 100%;

  &__right {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }
}
