.menu-modal {
  padding: var(--gap2x);

  &__title {
    color: var(--primary-title-color);
    margin-bottom: var(--gap);
  }

  &__divider {
    margin-bottom: var(--gap);
  }

  &__top-bar {
    margin-bottom: var(--gap);
  }

  &__option-container {
    border: 1px solid var(--secondary-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  &__option-title {
    color: var(--primary-text-color);
  }

  &__color-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    color: var(--secondary-text-color);
  }
}
