.script-behavior {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__item {
    display: flex;
    align-items: end;
    gap: var(--gap);

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  &__steps-list {
    margin-bottom: var(--gap);
  }
}
