.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  display: flex;
  align-items: end;
  margin-bottom: 8px;
}

.colorPicker {
  margin-right: 12px;
}

.numberOption {
  width: 48px;
  margin-right: 12px;
}
