{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "parcer": "flow",
  "semi": true,
  "importOrder": ["^[./]", ".scss"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
