@import "src/styles/typography.scss";

.drop-down {
  position: relative;
  height: fit-content;

  &__button {
    @include text;
    cursor: pointer;
    border: 1px solid rgb(71, 91, 96);
    border-radius: 10px;
    color: white;
    background-color: rgb(3 17 22);

    &--small {
      padding: 8px;
    }

    &--medium {
      padding: 12px;
    }

    &--large {
      padding: 16px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    border: 1px solid rgb(71, 91, 96);
    border-radius: 10px;
    background-color: rgb(3 17 22);
    z-index: 1000;

    &--small {
      padding: 8px;
    }

    &--medium {
      padding: 12px;
    }

    &--large {
      padding: 16px;
    }
  }

  &__item {
    @include text;
    cursor: pointer;
    color: white;
    text-align: left;
    display: flex;
    justify-content: start;
    width: 100%;
  }
}
