.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.button:not(:last-child) {
  margin-right: var(--gap);
}

.uploadInput {
  opacity: 0;
  position: absolute;
  left: -1000px;
  top: -1000px;
}
