body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  -webkit-appearence: none;
  appearance: none;
  cursor: pointer;
  width: auto;
  user-select: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

input {
  -webkit-appearence: none;
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
