@mixin head1 {
  font-size: 56px;
  font-family: "BalooBold";
  line-height: 120%;
}

@mixin head2 {
  font-size: 32px;
  font-family: "BalooBold";
  line-height: 120%;
}

@mixin head3 {
  font-size: 24px;
  font-family: "BalooSemiBold";
  line-height: 120%;
}

@mixin head5 {
  font-size: 16px;
  font-family: "BalooSemiBold";
  line-height: 120%;
}

@mixin text {
  font-size: 14px;
  font-family: "BalooRegular";
  line-height: 120%;
}

@mixin button-text {
  font-size: 14px;
  font-family: "BalooRegular";
  line-height: 120%;
  color: var(--primary-text-color);
}
