@mixin head1 {
  font-size: 56px;
  font-family: "BalooBold";
  line-height: 120%;
  color: white;
}

@mixin head2 {
  font-size: 32px;
  font-family: "BalooBold";
  line-height: 120%;
  color: white;
}

@mixin head3 {
  font-size: 24px;
  font-family: "BalooSemiBold";
  line-height: 120%;
  color: white;
}

@mixin text {
  font-size: 14px;
  font-family: "BalooRegular";
  line-height: 120%;
}

@mixin button-text {
  font-size: 14px;
  font-family: "BalooRegular";
  line-height: 120%;
  color: rgb(3, 17, 22);
}
