:root {
  --default-transition-time: 250ms;
  --default-transition-easing: ease;

  --color-primary-dark-green: #071e22;
  --color-primary-green: #1d7874;
  --color-primary-soft-green: #679289;
  --color-primary-peach: #f4c095;
  --color-primary-red: #ee2e31;

  --app-container-width: 600px;
  --app-container-height: 600px;
}
