:root {
  --default-transition-time: 250ms;
  --default-transition-easing: ease;

  --primary-title-color: #ffffff;
  --primary-text-color: #b7cbc9;
  --secondary-text-color: rgb(3, 17, 22);

  --gap: 8px;
  --gap2x: 16px;
  --label-gap: 4px;
}
