:root {
  --default-transition-time: 250ms;
  --default-transition-easing: ease;

  --primary-title-color: #ffffff;
  --primary-text-color: #b7cbc9;
  --secondary-text-color: #03070c; // rgb(3, 17, 22);

  --primary-background-color: #03070c; // rgb(3, 17, 22);

  --primary-button-color: #14f46f; // rgb(20, 244, 111);
  --primary-border-color: #ffffff;
  --secondary-border-color: #475b60; // rgb(71, 91, 96);

  --gap: 8px;
  --gap2x: 16px;
  --gap-half: 4px;
}
