.side-panel {
  background-color: var(--primary-background-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 20%;
  overflow-y: auto;

  &__title {
    margin-bottom: var(--gap2x);
    color: var(--primary-title-color);
  }

  &__config {
    margin-bottom: var(--gap2x);
  }

  &__behaviors {
    display: flex;
    flex-direction: column;
  }

  &__behaviors-item {
    margin-bottom: var(--gap);
  }

  &__properties {
    margin-bottom: var(--gap2x);
  }

  &__options {
    margin-bottom: var(--gap);
  }
}
