.side-panel {
  height: 100vh;
  background-color: rgb(3 17 22);
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: none;
  min-width: 400px;

  &__title {
    margin-bottom: var(--gap2x);
    color: var(--primary-title-color);
  }

  &__config {
    margin-bottom: var(--gap2x);
  }

  &__behaviors {
    display: flex;
    flex-direction: column;
  }

  &__behaviors-item {
    margin-bottom: var(--gap);
  }

  &__properties {
    margin-bottom: var(--gap2x);
  }

  &__options {
    margin-bottom: var(--gap);
  }
}
