@import "src/styles/typography.scss";

.button {
  @include button-text;

  background-color: rgb(20, 244, 111);
  border-radius: 10px;
  cursor: pointer;

  &--disabled {
    background-color: rgba(20, 244, 111, 0.4);
    cursor: not-allowed;
  }

  &--small {
    padding: 8px 14px;
    border-radius: 4px;
  }

  &--medium {
    padding: 12px;
  }

  &--large {
    padding: 16px;
  }
}
