@import "src/styles/typography.scss";

.button {
  cursor: pointer;

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--small {
    padding: 4px 6px;
    border-radius: 4px;
  }

  &--medium {
    padding: 12px;
  }

  &--large {
    padding: 16px;
  }

  &--type-primary {
    @include button-text;
    background-color: var(--primary-button-color);
    border-radius: 10px;
    color: var(--secondary-text-color);
  }
}
