.upload-button {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: var(--gap);
    fill: var(--secondary-text-color);
  }

  &__text {
    color: var(--secondary-text-color);
  }
}

.upload-input {
  opacity: 0;
  position: absolute;
  left: -1000px;
  top: -1000px;
}
