@import "src/styles/typography.scss";

.texture-list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: var(--gap2x);

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    margin-right: var(--gap);
  }

  &__name {
    margin-right: var(--gap);
  }

  &__delete {
    cursor: pointer;
  }

  &__delete-icon {
    width: 18px;
    height: 18px;
    stroke: var(--primary-text-color);
  }
}
