.upload-input {
  opacity: 0;
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.upload-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button__icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: rgb(3, 17, 22);
}
