.texture-input {
  width: 64px;
  height: 64px;
  background-color: #f8f6f1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms ease;

  &:hover {
    fill: #4a6670;
  }

  &__input {
    opacity: 0;
    position: absolute;
    left: -1000px;
    top: -1000px;
  }

  &__upload-icon {
    width: 32px;
    height: 32px;
  }
}
