.page-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #465760;
  z-index: 10000;
  color: white;
  font-size: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}
