.top-bar {
  width: 100%;
  padding: 0 8px;
  background-color: var(--primary-background-color);
  height: var(--top-bar-height);

  display: flex;
  align-items: center;

  &__item {
    margin-right: var(--gap);
  }

  &__item-text {
    color: var(--primary-text-color);
    text-transform: uppercase;
  }
}
