.polygonal-chain {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
  }

  &__item {
    margin-bottom: var(--gap);
    align-items: end;
  }

  &__title {
    margin-right: var(--gap2x);
  }
}
