.polygonal-chain-spawn-shape__chain-list {
  margin-bottom: var(--gap2x);
}

.polygonal-chain-spawn-shape__button-text {
  color: var(--secondary-text-color);
}

.polygonal-chain-spawn-shape__chain-list-item {
  margin-bottom: var(--gap2x);
}

.polygonal-chain-spawn-shape__divider {
  margin-bottom: var(--gap2x);
}
